* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: initial;
    list-style: none;
    transition: .3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --primary-color: hsl(220, 60%, 50%);
    --secondary-color: hsl(220, 40%, 40%);

    --color-gray-500: hsl(220, 12%, 65%);
    --color-gray-400: hsl(220, 12%, 70%);
    --color-gray-300: hsl(220, 12%, 80%);
    --color-gray-200: hsl(220, 12%, 90%);
    --color-gray-100: hsl(220, 12%, 95%);

    --color-dark-500: hsl(220, 31%, 5%);
    --color-dark-400: hsl(220, 31%, 10%);
    --color-dark-300: hsl(220, 31%, 15%);
    --color-dark-200: hsl(220, 31%, 20%);
    --color-dark-100: hsl(220, 31%, 25%);

    --color-blue-100: hsl(240, 50%, 50%);

    --light-green-bg: hsl(140, 72%, 80%);
    --light-green-color: hsl(140, 72%, 23%);

    --dark-green-bg: hsl(140, 50%, 10%);
    --dark-green-color: hsl(141, 100%, 54%);

    --light-red-bg: hsl(5, 72%, 80%);
    --light-red-color: hsl(5, 72%, 23%);

    --dark-red-bg: hsl(5, 50%, 10%);
    --dark-red-color: hsl(5, 100%, 54%);

    --overlay-light-mode-bg : rgba(0, 0, 0, 0.7);
    --overlay-dark-mode-bg : rgba(255, 255, 255, 0.5);

    --radius-medium: 28px;
    --radius-full: 50%;
    --radius-small: 10px;

}

.light-mode {
    --background-color: var(--color-gray-400);
    --second-background-color: var(--color-gray-300);
    --third-background-color: var(--color-gray-200);
    --text-color: var(--color-dark-300);
    --heading-text-color: var(--color-dark-400);
    --red-bg: var(--light-red-bg);
    --red-color: var(--light-red-color);
    --green-bg: var(--light-green-bg);
    --green-color: var(--light-green-color);
    --overlay-bg : var(--overlay-light-mode-bg)
}

.dark-mode {
    --background-color: var(--color-dark-400);
    --second-background-color: var(--color-dark-500);
    --third-background-color: var(--color-dark-300);
    --text-color: var(--color-gray-300);
    --heading-text-color: var(--color-dark-400);
    --red-bg: var(--dark-red-bg);
    --red-color: var(--dark-red-color);
    --green-bg: var(--dark-green-bg);
    --green-color: var(--dark-green-color);
    --overlay-bg : var(--overlay-dark-mode-bg);
}


html {
    font-size: 16px;
}

button {
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

p {
    line-height: 1.8;
    font-family: 'Noto Sans', sans-serif;
}

body {}

span,
a {
    color: var(--text-color);
}

button, a , input {
    font-family: 'Roboto', sans-serif;
}

.app {
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
}

html ::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-dark-400);
}

html ::-webkit-scrollbar-thumb {
    
}

.app .nav-bar {
    height: 97vh;
    width: 90px;
    margin: auto 1rem;
    background: var(--second-background-color);
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: width 0.3s;
    border-radius: var(--radius-small);
}


.nav-bar ul {
    width: 100%;
}

.nav-bar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.5rem;
    margin: 0.4rem;
    background: var(--third-background-color);
    border-radius: var(--radius-medium);

    i {
        width: 35px;
        height: 35px;
        background: var(--secondary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--radius-full);
        color: #fff;
        font-size: 0.88rem;

    }

    a {
        display: none;
    }
}


.nav-bar button {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: var(--third-background-color);
    color: var(--secondary-color);
}

.nav-bar.open {
    width: 280px;

    ul li {
        justify-content: flex-start;
    }

    a {
        display: block;
    }

    button {
        transform: translateX(0%);
        left: 1rem;
    }

    .profile {
        width: 90%;
        left: 1rem;
        transform: translateX(0);
        .name {
            display: block;
        }
    }
}

body:has(.dark-mode) {
    .nav-bar ul li {
        background: var(--third-background-color);
    }
}

.nav-bar .profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    height: 3.5rem;
    background: var(--third-background-color);
    border-radius: var(--radius-medium);
    padding: 0 0.3rem;


    .img {
        width: 45px;
        height: 45px;
        img {
            width: 100%;
            border-radius: var(--radius-full);
        }
    }
    .name {
        display: none;
        overflow: hidden;
    }
    h3 {
        font-weight: 800;
        color: var(--text-color);
        font-family: 'Montserrat', sans-serif;
        font-size: 0.85rem;
    }
    .factory {
        font-size: 0.6rem;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 3px;
    }
}

.app .view {
    margin-right: 0;
    width: calc(98vw - 100px);
    position: relative;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
}

.app:has(.open) {
    .view {
        width: calc(98vw - 280px);
    }
}

.view .main {
    grid-column: span 9;
}

.header {
    height: 4rem;
    width: 100%;
    background: var(--second-background-color);
    border-radius: var(--radius-small);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.header #theme-btn {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: var(--third-background-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    .tool-tip {
        display: none;
        font-size: 0.8rem;
    }
}

.header #theme-btn:hover {
    width: 100px;
    justify-content: flex-start;

    .tool-tip {
        display: block;
    }
}

.header .logo,
.imp {
    font-weight: 800;
    font-size: 1.1rem;
}

.header .imp {
    color: var(--primary-color);
}

.view #addbtn {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    height: 45px;
    width: 45px;
    border-radius: 22.5px;
    background: var(--secondary-color);
    color: #fff;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    transition: width 0.3s ease-out;

    span {
        display: none;
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
    }
}

.view #addbtn:hover {
    width: 200px;
    justify-content: flex-start;
    box-shadow: 0 0.4rem 0.8rem var(--primary-color);

    span {
        display: block;
    }
}

.view #addbtn:active {
    transform: scale(0.95);
}

.view .editor {
    position: relative;
    background-color: var(--second-background-color);
    border-radius: var(--radius-small);
    animation: appear 0.5s ease;
}

.editor ::-webkit-scrollbar {
    width: 5px;
    background: var(--third-background-color);
    border-radius: var(--radius-small);
}

.editor ::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    cursor: pointer;
    border-radius: var(--radius-small);
}

.editor .text-view {
    max-height: 90vh;
    padding: 2rem;
    overflow-y: scroll;
}
.editor .title {
    font-size: 1.3rem;
    font-weight: bold;
}

.view .side-view {
    grid-column: span 4;
}

.side-view,
.editor {
    height: 97vh;
    margin: 0.9rem 0;
}

.editor .text-view {

}

.text-view p {
    color: var(--text-color) !important;

    span {
        color: inherit !important;
    }
}

.editor .toolbar {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: var(--background-color);
    border-radius: calc(0.6rem + 22.5px);
}

.toolbar button {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
    transition: .3s;
    background: var(--third-background-color);

    .icon {
        height: 37px;
        width: 37px;
        display: flex;
        border-radius: var(--radius-full);
        align-items: center;
        justify-content: center;
        background: var(--background-color);
        color: var(--text-color);
        font-weight: bold;
    }

    .tool-tip {
        display: none;
        font-weight: 500;
        color: var(--text-color);
    }
}


.toolbar #red {
    .icon {
        background: var(--red-color);
    }
    .tool-tip {
        color: var(--red-color);
    }
}

.toolbar #green {
    .icon {
        background: var(--green-color);
    }
    .tool-tip {
        color: var(--green-color);
    }
}

.toolbar #blue {
    .icon {
        background: var(--color-blue-100);
    }
    .tool-tip {
        color : var(--color-blue-100);
    }
}

.toolbar #white {
    .icon {
        background: #ffffff;
    }
}

.toolbar #black {
    .icon {
        background: #000;
    }
}

.toolbar button:active {
    transform: scale(0.9);
}

.toolbar > #save, #close, #red, #green, #blue, #black {
    .icon {
        color: #fff;
    }
}

.toolbar #save {
    .icon {
        background: var(--green-color);
    }
}

.toolbar #close {
    .icon {
        background: var(--red-color);
    }
}

.toolbar #close:hover {
    background: var(--red-bg);

    .tool-tip {
        color: var(--red-color);
    }
}

.toolbar #save:hover {
    background: var(--green-bg);

    .tool-tip {
        color: var(--green-color);
    }
}

.toolbar button:hover {
    width: 120px;
    justify-content: flex-start;

    .tool-tip {
        display: block;
    }
}

.side-view {
    position: relative;
    padding: 0 1.3rem;
}

.side-view .list-wrapper {
    max-height: 79vh;
    overflow-y: scroll;
}

.side-view ::-webkit-scrollbar {
        width: 5px;
        background: var(--third-background-color);
}

.side-view ::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

.side-view .list {
    width: 100;
    margin: 0 auto;
    overflow-x: hidden;
}

.list .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: var(--radius-medium);
    background: var(--second-background-color);
    width: 100%;

    .label {
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--third-background-color);
        border-radius: var(--radius-full);
        color: var(--text-color);
    }

    .data {
        span {
            display: block;
        }

        .title {
            font-weight: bold;
        }

        .time {
            font-size: 0.8rem;
            font-weight: lighter;
        }
    }

    .actions {

        display: flex;
        gap: 0.3rem;

        button {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--radius-full);
        }

        .delete {
            background: var(--red-bg);
            color: var(--red-color);
        }

        .edit {
            background: var(--green-bg);
            color: var(--green-color);
        }
    }
}

.side-view .search-bar {

    width: 70%;
    margin: 1rem auto;

    input {
        padding: 0.8rem 1rem;
        background: var(--third-background-color);
        border-radius: var(--radius-small);
        border: none;
        width: 100%;
        color: var(--text-color);
    }
}

.alert {
    width: 280px;
    height: 5rem;
    position: fixed;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background: var(--background-color);
    z-index: 9997;
    border-radius: var(--radius-small);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6rem;
    padding: 1.5rem;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    animation: slide_down 0.4s ease;

    .icon {
        width: 30px;
        height: 30px;
        background: var(--second-background-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--radius-full);
    }
}

.alert.warn {

}

.alert.success {
    background: var(--green-bg);
    border-color: var(--green-color);
    color: var(--green-color);

    .icon {
        background: var(--green-color);
        color: #fff;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-bg);
    display: none;
    z-index: 9996;
    display: none;
}

.prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--background-color);
    padding: 1.5rem;
    border-radius: var(--radius-small);
    border: 1px solid var(--text-color);
    z-index: 9999;

    .message {
        text-align: center;
        font-size: 0.9rem;
        width: 70%;
    }

    .btns {
        

        button {
            width: 120px;
            margin:  0 0.5rem;
            border-radius: 17px;
            font-weight: bold;
            color: #fff;
        }

        #true {
            background: var(--green-color);
        }
        #false {
            background: var(--red-color);
        }
    }
}

body:has(.prompt) .overlay {
    display: block;
}

.editor {

    .bold {
        font-weight: bold;
    }
    .italic {
        font-style: italic;
    }
    .underline {
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    .no-bold {
        font-weight: initial;
    }
    .no-italic {
        font-style: initial;
    }
    .no-underline {
        text-decoration: none;
    }

    .Aa {
        text-transform: capitalize;
    }
    .AA {
        text-transform:  uppercase;
    }
    .aa {
        text-transform: lowercase;
    }

    .red {
        color: var(--red-color) !important;
    }

    .green {
        color: var(--green-color) !important;
    }
    .blue {
        color: var(--color-blue-100) !important;
    }

    .red, .green, .blue {
        font-weight: inherit;
    }
}

@keyframes appear {
    from {
        transform: scale(0.9);
    } to {
        transform: scale(1);
    }
}

@keyframes slide_down {
    from {
        top : -5rem;
    } to {
        top: 3rem;
    }
}
